/*
COLOR PALETTE

BLACK: #000000

WHITE: #FFFFFF
LIGHT: #FDF7F4

ORANGE: #FFD18C
DARK ORANGE: #FFA724
*/


html, body {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

/* header */

img {
    width: 373px;
    margin-top: 30px;
}

/* nav bar */

nav {
    background-color: #FFD18C;
    height: 66px;
    margin-top: 30px;
}

nav .container {
    display: flex;
    height: 66px;
    align-items: center;
    justify-content:space-between;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 0;
    
    display: block;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav a:active {
    text-decoration: none;
    font-weight: 700;
}

/* main section */

.background {
    background-color: #FDF7F4;
    padding-bottom: 100px;
}

button {
    margin: 33px 7px 42px;
    font-size: 30px;
    font-weight: 700;
    width: 275px;
    padding: 15px 0;
    background-color: #FFFFFF;
    border: #FFA724 5px solid;
    border-radius: 50px;
}

button:hover, button:active {
    background-color: #FFA724;
    cursor: pointer;
}

h1 {
    font-size: 40px;
    text-align: left;
    margin: 0 0 25px;
}

.big-button {
    font-weight: 700;
    width: 100%;
    background-color: #FFFFFF;
    border: #FFA724 5px solid;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 11px;
}

p {
    padding: 42px;
    margin: 0;
}

/* utility class */

.container {
    width: 730px;
    margin: 0 auto;
    /* background-color: red; */
}